#%RAML 1.0
---
title: Individuals Disclosures (MTD)
description: Create, amend, retrieve and delete Disclosures.
version: 1.0
protocols: [ HTTPS ]
baseUri: https://api.service.hmrc.gov.uk/
mediaType: application/json

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Send fraud prevention data
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/fraud-prevention.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include docs/errors.md
 - title: Changelog
   content: !include docs/changelog.md
 - title: Support
   content: !include docs/support.md
 - title: Testing
   content: !include docs/testing.md

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml
  errors: errors.raml
  headers: headers.raml

'/individuals':
  /disclosures:
    /marriage-allowance:
        (annotations.group):
          name: Marriage Allowance
          description: Resources relating to an individual's marriage allowance.
        /{nino}:
          uriParameters:
            nino: !include pathParameters/nino.raml
          post: !include endpoints/marriageAllowance/create.raml
    /{nino}:
      uriParameters:
        nino: !include pathParameters/nino.raml
      /{taxYear}:
        uriParameters:
          taxYear: !include pathParameters/taxYear.raml
        (annotations.group):
          name: Disclosures
          description: Resources relating to an individual's disclosures
        get: !include endpoints/disclosures/retrieve.raml
        delete: !include endpoints/disclosures/delete.raml
        put: !include endpoints/disclosures/amend.raml